<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Заголовок</title>
    </head>

    <body>
        <style>
            .css_input {
                color: yellow;
                background-color: floralwhite;
            }
        </style>
        <br>
        <br>
        <br>
        <br>
        <br>
        <form action="{% url 'thanks_page' %}" method="POST">
            {% csrf_token %} <!--без этой строчки метод post не работает, это встроенная зажита django от атак-->
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
        
        <br>
        <br>
        <br>
        <br>
        <br>







    {% if object_list %}
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Дата</th>
                <th>Имя</th>
                <th>Телефон</th>
            </tr>
    {% for obj in object_list %}
            <tr>
                <th>{{ obj.id }}</th>
                <th>{{ obj.order_dt }}</th>
                <th>{{ obj.order_name }}</th>
                <th>{{ obj.order_phone }}</th>
            </tr>
    {% endfor %}
        </table>
    {% else %}
    Нет данных
    {% endif %}

    </body>


</html>